Oskar Dzioch <oskardz1991@gmail.com>
Oskar Dzioch <oskar_dzioch@epam.com>
Kamil Ważydrąg <kamil_wazydrag@epam.com>
Filip Hartman <filip_hartman@epam.com>
Mikołaj Olszowiec <mikolaj_olszowiec@epam.com>
Augustyn Sybidło <augustyn_sybidlo@epam.com>